JIRA_BASE_URL=https://sua-empresa.atlassian.net
JIRA_EMAIL=usuario@empresa.com
JIRA_API_TOKEN=token_da_api_do_jira
JIRA_PROJECT_LEAD_ACCOUNT_ID=account_id_do_lider_do_projeto
JIRA_FERNANDO_ACCOUNT_ID=account_id_do_fernando
JIRA_HERBERT_ACCOUNT_ID=account_id_do_herbert
JIRA_FELIPE_ACCOUNT_ID=account_id_do_felipe
JIRA_JACQUELINE_ACCOUNT_ID=account_id_da_jacqueline
INTERNAL_BRIEFING_PASSWORD=defina_uma_senha_forte
INTERNAL_SESSION_SECRET=gere_uma_chave_aleatoria_com_ao_menos_32_caracteres
